<% @title = _("FOI officer questions") %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %></h1>

  <dl>

    <dt id="top">He llegado a esta página a través de una solicitud de información. ¿De qué se trata? </dt>
    <dd>
        <p><%= site_name %> es una página web gestionada por Guatecambia, pero fue creada y liberada por la organización británica MySociety. La hicimos para ayudar a la población a solicitar información pública a municipalidades y que las respuestas sean accesibles para el resto de los ciudadanos.</p>
        <p>La solicitud que ha recibido fue enviada por un ciudadano a través de <%= site_name %>. Por lo que tendrá que responderla de la misma forma que una solicitud de información corriente. La única diferencia es que la respuesta será publicada en esta página.</p>
        <p>Si tiene alguna duda sobre privacidad o cualquier otro asunto, puede enviarnos un correo a info@guatecambia.org.gt y con gusto le contestaremos. Nos encantará recibir sus comentarios, ideas o sugerencias sobre la página. </p>
    </dd>

    <dt id="responses">¿Por qué se publican las respuestas de las solicitudes de información? </dt>
    <dd>
        <p>Porque aportan muchos beneficios. </p>
        <ul>
            <li>Primero, animan a los ciudadanos a estar más interesados y comprometidos con sus instituciones.</li>
            <li>Segundo, ayuda a que se reduzca el número de solicitudes de información repetida que reciba la municipalidad. Lo que hará más eficiente el proceso.</li>
        </ul>
        <p>Igualmente la información que le solicitaran es información pública, por lo que no supone ningun problema para ustedes.</p>
    </dd>

    <dt id="realpeople">¿Las personas que realizan solicitudes son reales? </dt>
    <dd>
        <p>Por supuesto. Todas las solicitudes son hechas por ciudadanos que quieren saber información pública sobre su municipalidad. </p>
        <p>Pero para que el sistema funcione de manera automática, utilizamos direcciones de correo electrónico generadas por el ordenador para identificar la solicitud. Es por eso es que a la municipalidad le aparece una la dirección de correo electrónica de <%= site_name %>.</p>
    </dd>

    <dt id="vexatious">¡<%= site_name %> me está enviando demasiadas solicitudes! </dt>
    <dd>
        <p>Nosotros no realizamos ninguna solicitud. Las enviamos en nombre de los usuarios, que son personas reales, que quiere solicitar información. Si recibe muchas peticiones es una buena señal, ya que los ciudadanos están interesados en su institución o sus actividades ¡Felicidades!</p>
    </dd>
    

    <dt id="spam_problems">¡Veo que se ha realizado una solicitud a mi municipalidad, pero no hemos recibido ningún email! </dt>
    <dd>
        <p>Si esto pasa, puede que haya pasado una de estas dos cosas:</p>
        <ul>
            <li>Primero, puede que el correo de contacto este malo. En estos casos, te pedimos si puedes comprobar que el correo electrónico al que se están enviando las solicitudes sea el correcto. Si no escribirnos con toda la confianza a nuestra área de contacto. </li>            
            <li>Segundo, si es la dirección de correo electrónico adecuada, escríbenos igualmente para que reenviaremos el correo de la solicitud.</li>
        </ul>
    </dd>

    <dt id="days">¿Cómo calculan la fecha límite que aparece en la página de peticiones? </dt>
    <dd>
      <p>Se calculan los 10 días hábiles desde el envío de la solicitud, tal y como se especifica en la Ley de Acceso a la Información Pública.</p>

    </dd>

    <dt id="answers">¿Cómo respondo a la solicitud?</dt>
    <dd>
        <p>Simplemente, responda el correo electrónico de manera normal. La solicitud se hará llegar al ciudadano y esta será pública en <%= site_name %>.</p>
    </dd>

    <dt id="large_file">¿Cómo puedo enviar un archivo grande que no puede ir por correo electrónico?</dt>
    <dd><p>Puede contactarse con nosotros y le facilitaremos una dirección web para subir el archivo desde su navegador. </p>
    </dd>

    <dt id="names">¿Por qué publican los nombres de los funcionarios y el texto de los mensajes? </dt>
    <dd><p>Consideramos que el trabajo de los funcionarios debe ser público. Únicamente se eliminaran los mensajes que contenga información sensible o no estén de acuerdo con nuestra política.</p>
    </dd>

    <dt id="mobiles">¿Publican las direcciones de correo electrónica  o los números de teléfono móvil? </dt>
    <dd>
        <p>No publicamos información que sean datos personales, por lo que intentamos eliminar automáticamente todas las direcciones de correo y posibles números de teléfono que se incluyan en las solicitudes.</p>
    </dd>
    
    <dt id="days2">Pero enserio ¿Cómo calculan las fechas límites? </dt>
    <dd>
      <p>En <%= site_name %> se calculan los tiempos según la ley y también se toman en cuenta las horas laborales por lo que sería así.</p>
      <ul>
        <li>El primer día que se envía una solicitud se cuenta como el día cero, aunque el correo haya sido enviado ese día en la tarde. Los días terminan a la medianoche. Por lo que el primer día de la solicitud se contará hasta el siguiente día en horas laborales, y así será consecutivamente hasta el día 10. Los fines de semanas no se cuentan. </li>
        <li>Si la solicitud es enviada en un día no laboral, este día no se tomará en cuenta. <%= site_name %> empieza a contar hasta el siguiente día laboral. Aunque el envío si se hace ese día.</li>
      </ul>
      <p>Si tienes más dudas puedes revisar las respuestas anteriores, donde también lo explicamos aunque también ten la confianza de <a href="<%= help_contact_path %>">contactarnos</a>, si tienes más dudas o si ves un problema con los tiempos. Así podemos explicarte con más detalles y resolver cualquier problema.</p>
    </dd>


    <dt id="copyright"><a id="commercial"></a>¿Cuál es su política sobre derechos de autor? </dt>
    <dd>
        <p>Toda la información que se maneja en <%= site_name %> es pública, aunque si la reutilizas te recomendamos citar a la institución que te la dio para darle su crédito y así más personas también puedan encontrarla.</p>
    </dd>

    <dt id="allowed_responses">Respondí una solicitud vieja, pero esta me rebotó ¿Por qué pasó esto? </dt>
      <dd>
        <p>Después de 6 meses de inactividad, <%= site_name %> limita quien puede responder a las solicitudes. Esto para evitar el spam. Aunque la solicitud solo puede ser respondida por el encargado del área de acceso a la información. </p>
        <p>Pero después de 12 meses, la solicitud queda inactiva para respuestas de cualquier persona. Si necesitas que se vuelva a abrir una solicitud anterior puedes contactarnos.   </p>
      </dd>
  </dl>

    <dt id="email_only">¡Un correo no es suficiente para hacer una solicitud de información pública! </dt>
    <dd>
        <p>¡Claro que sí!, Según la ley de acceso a la información pública de nuestro país, el contacto debe ser directo con el área de acceso a la información pública que es el correo con el que te contactas.</p>
    </dd>

  
  <p><strong>Recuerda que puedes leer </strong><a href="<%= help_about_path %>">las instrucciones</a> para conocer más sobre esta plataforma. --&gt;</p>

    <div id="hash_link_padding"></div>
</div>
