<% @title = "FOI officer questions" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= _(@title) %> <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top">He llegado a esta página a través de una solicitud de información. ¿De qué se trata?  <a href="#top">#</a> </dt>
    <dd>
        <p>Publitopia es una página web gestionada por Guatecambia, pero fue creada y liberada por la organización británica MySociety. La hicimos para ayudar a la población a solicitar información pública a municipalidades y que las respuestas sean accesibles para el resto de los ciudadanos.</p>
        <p>La solicitud que ha recibido fue enviada por un ciudadano a través de Publitopia. Por lo que tendrá que responderla de la misma forma que una solicitud de información corriente. La única diferencia es que la respuesta será publicada en esta página.</p>
        <p>Si tiene alguna duda sobre privacidad o cualquier otro asunto, puede enviarnos un correo a info@guatecambia.org.gt y con gusto le contestaremos. Nos encantará recibir sus comentarios, ideas o sugerencias sobre la página. </p>
    </dd>

    <dt id="responses">¿Por qué se publican las respuestas de las solicitudes de información?  <a href="#responses">#</a> </dt>
    <dd>
        <p>Porque aportan muchos beneficios. </p>
        <ul>
            <li>Primero, animan a los ciudadanos a estar más interesados y comprometidos con sus instituciones.</li>
            <li>Segundo, ayuda a que se reduzca el número de solicitudes de información repetida que reciba la municipalidad. Lo que hará más eficiente el proceso.</li>
        </ul>
        <p>Igualmente la información que le solicitaran es información pública, por lo que no supone ningun problema para ustedes.</p>
    </dd>

    <dt id="realpeople">¿Las personas que realizan solicitudes son reales? <a href="#realpeople">#</a> </dt>
    <dd>
        <p>Por supuesto. Todas las solicitudes son hechas por ciudadanos que quieren saber información pública sobre su municipalidad. </p>
        <p>Pero para que el sistema funcione de manera automática, utilizamos direcciones de correo electrónico generadas por el ordenador para identificar la solicitud. Es por eso es que a la municipalidad le aparece una la dirección de correo electrónica de Publitopia.</p>
    </dd>

    <dt id="vexatious">¡Publitopia me está enviando demasiadas solicitudes!  <a href="#vexatious">#</a> </dt>
    <dd>
        <p>Nosotros no realizamos ninguna solicitud. Las enviamos en nombre de los usuarios, que son personas reales, que quiere solicitar información. Si recibe muchas peticiones es una buena señal, ya que los ciudadanos están interesados en su institución o sus actividades ¡Felicidades!</p>
    </dd>
    

    <dt id="spam_problems">¡Veo que se ha realizado una solicitud a mi municipalidad, pero no hemos recibido ningún email! <a href="#spam_problems">#</a> </dt>
    <dd>
        <p>Si esto pasa, puede que haya pasado una de estas dos cosas:</p>
        <ul>
            <li>Primero, puede que el correo de contacto este malo. En estos casos, te pedimos si puedes comprobar que el correo electrónico al que se están enviando las solicitudes sea el correcto. Si no escribirnos con toda la confianza a nuestra área de contacto. </li>            
            <li>Segundo, si es la dirección de correo electrónico adecuada, escríbenos igualmente para que reenviaremos el correo de la solicitud.</li>
        </ul>
    </dd>

    <dt id="days">¿Cómo calculan la fecha límite que aparece en la página de peticiones? <a href="#days">#</a> </dt>
    <dd>
      <p>Se calculan los 10 días hábiles desde el envío de la solicitud, tal y como se especifica en la Ley de Acceso a la Información Pública.</p>

    </dd>

    <dt id="answers">¿Cómo respondo a la solicitud? <a href="#answers">#</a></dt>
    <dd>
        <p>Simplemente, responda el correo electrónico de manera normal. La solicitud se hará llegar al ciudadano y esta será pública en Publitopia.</p>
    </dd>

    <dt id="large_file">¿Cómo puedo enviar un archivo grande que no puede ir por correo electrónico? <a href="#large_file">#</a> </dt>
    <dd><p>Puede contactarse con nosotros y le facilitaremos una dirección web para subir el archivo desde su navegador. </p>
    </dd>

    <dt id="names">¿Por qué publican los nombres de los funcionarios y el texto de los mensajes? <a href="#names">#</a> </dt>
    <dd><p>Consideramos que el trabajo de los funcionarios debe ser público. Únicamente se eliminaran los mensajes que contenga información sensible o no estén de acuerdo con nuestra política.</p>
    </dd>

    <dt id="mobiles">¿Publican las direcciones de correo electrónica  o los números de teléfono móvil? <a href="#mobiles">#</a> </dt>
    <dd>
        <p>No publicamos información que sean datos personales, por lo que intentamos eliminar automáticamente todas las direcciones de correo y posibles números de teléfono que se incluyan en las solicitudes.</p>
    </dd>
    
    
    
    <dt id="days2">But really, how do you calculate the deadline?<a href="#days2">#</a> </dt>
    <dd>

      <p>Please read the answer to the previous question first. Legally, authorities
        must respond <strong>promptly</strong> to FOI requests. If they fail to do that,
        it is best if they show the hard work they are doing by explaining what is
        taking the extra time to do.
      </p>

      <p>That said, <%= site_name %> does show the maximum legal deadline
        for response on each request. Here's how we calculate it.</p>

      <ul>

        <li>If the day we deliver the request by email is a working day, we count that
          as "day zero", even if it was delivered late in the evening. Days end at
          midnight.  We then count the next working day as "day one", and so on up to
          <strong><%= AlaveteliConfiguration::reply_late_after_days %> working days</strong>.</li>

        <li>If the day the request email was delivered was a non-working day, we count
          the next working day as "day one". Delivery is delivery, even if it happened on
          the weekend. Some authorities disagree with this, our lawyer disagrees with them. </li>

        <li>Requesters are encouraged to mark when they have <strong>clarified</strong>
          their request so the clock resets, but sometimes they get this wrong. If you
          see a problem with a particular request, let us know and we'll fix it.</li>
      </ul>

      <p>The date thus calculated is shown on requests with the text "By law,
        Liverpool City Council should normally have responded by...".
      </p>

    </dd>




    <dt id="copyright"><a id="commercial"></a>What is your policy on copyright of documents?<a href="#copyright">#</a> </dt>

    <dd>Our Freedom of Information law is "applicant blind", so anyone in the
      world can request the same document and get a copy of it.

      If you think our making a document available on the internet infringes your
      copyright, you may <a href="<%= help_contact_path %>">contact us</a> and ask us
      to take it down.  However, to save tax payers' money by preventing duplicate
      requests, and for good public relations, we'd advise you not to do that.
    </dd>

    <dt id="allowed_responses">My response to an old request on <%= site_name %> has been bounced!<a href="#allowed_responses">#</a> </dt>
      <dd>After six months of inactivity, <%= site_name %> limits who can respond to a request to stop
      spammers targeting old requests. At that point, the request can only be responded to by someone who's
      from the authority. After twelve months, the request is closed to responses from anyone. If you need an
      old request to be re-opened so that you can respond to it, please <a href="<%= help_contact_path %>">
      contact us</a>.
      </dd>


  </dl>

    <dt id="email_only">An email isn't a sufficient address for an FOI request! <a href="#email_only">#</a> </dt>
    <dd>Yes it is. In the UK, this
      <a href="https://www.whatdotheyknow.com/request/1142/response/2894/attach/5/20080806100741260.pdf">letter from the ICO to Rother District Council</a> gives guidance on the matter, specifically
      in the context of requests made via WhatDoTheyKnow, a similar site to <%= site_name %>.
    </dd>


  
  <p><strong>If you haven't already</strong>, read <a href="<%= help_about_path %>">the introduction</a> --&gt;
    <br><strong>Otherwise</strong>, the <a href="<%= help_credits_path %>">credits</a> or the <a href="<%= help_api_path %>">programmers API</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
