<% @title = _("Your privacy") %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %></h1>
  <dl>

    <dt id="create_user">¿Debo crear un usuario?</dt>
    <dd>
        <p>Si, para hacer la solicitud en Publitopia debes crear un usuario. Puedes crear tu cuenta después de llenar tu solicitud o directamente al ingresar a Publitopia.</p>
    </dd>
    
    <dt id="how_to_create_user">¿Cómo creo un usuario en Publitopia?</dt>
    <dd>
        <p>¡Es muy fácil!  Te guiaremos por todo el proceso de registro aunque solo debes ingresar un nombre, correo electrónico y una contraseña.</p>
        <p>Ten en cuenta que te enviaremos un correo de verificación en el que debes ingresar para activar tu cuenta. </p>
        <p>Si algo sale mal ¡Escríbenos! El área de contacto está en la parte inferior de la página. </p>
    </dd>
    
    <dt id="email_address">¿Quién puede ver mi dirección de correo electrónico?</dt>
    <dd><p>Tu correo no se mostrará en Publitopia, a menos que tú lo incluyas en el mensaje o el pie de página de tu correo. Tampoco se mostrará a nadie externo, a no ser que estemos obligados por ley o que tú lo pidas.</p>
        <p>Creemos en la protección de datos personales, por lo que al realizar tu solicitud la municipalidad verá una dirección de correo electrónica de Publitopia y no la tuya.</p>
    </dd>

    <dt id="public_request">¿Por qué aparece mi solicitud publicada en esta página web? </dt>
    <dd>
      <p>Uno de los beneficios de Publitopia es que las solicitudes permanecen en la página para que todo el mundo pueda consultar y utilizar la información que has obtenido. Lo que hace más eficientes los procesos.</p>
    </dd>

    <dt id="my_information">¿Publican información confidencial relacionada a mi persona? </dt>
    <dd>
        <p>No, pero si ves información de carácter confidencial relacionada contigo, que te gustaría que eliminemos y ocultémonos ¡Escríbenos con confianza!</p>
        <p>Solo debes mandarnos un correo que especifique:</p>
        <ul>
            <li>Que información es la te parece de carácter confidencial</li>
            <li>Porque es un problema </li>
            <li>Dónde la encontramos.</li>
        </ul>
        <p>Igual te solicitamos que si ves información personal de otra persona nos indiques para poder ocultarla o eliminarla. </p>
    </dd>

    <dt id="full_address">¿Qué hago si una institución me pide mi número de teléfono y mi dirección? </dt>
    <dd>
      <p>Si un organismo te pide estos datos para comentar o aclarar tu solicitud, te recomendamos que si decides dárselos sea directamente con ellos y no a través del sitio web. </p>
    </dd>
    
    <dt id="real_name">¿Puedo hacer mi solicitud de información pública con un seudónimo? </dt>
    <dd>
      <p>Claro, aunque se te recomienda que utilices tu nombre para que la institución identifique que es un ciudadano real el que está haciendo la solicitud. </p>
      <p>Aunque si debes tomar en cuenta el utilizar un correo electrónico válido, para que puedas recibir los avisos y la información que solicitaste. </p>
    </dd>

    <dt id="nasty_spam">Si creo un usuario en Publitopia ¿me enviaran spam desagradable a mi correo electrónico? </dt>
    <dd>
        <p>No, todos los correos que envía Publitopia son sobre la solicitud de información pública que realizas, aunque también podemos enviarte correos de confirmación al momento de que crees tú usuario. </p>
        <p>Publitopia no enviará correos a nadie, a menos que esté obligado por ley contactarlos o que tú lo solicites.</p>
    </dd>

    <dt id="postal_answer">¿No necesitan mi dirección postal para enviar una respuesta en papel? </dt>
    <dd>
      <p>Publitopia únicamente maneja solicitudes en línea, pero si la municipalidad solo tiene una copia impresa de la información que solicitas, ellos tendrán que solicitarte en privado tu dirección para enviártela. </p>
      <p>Aunque siempre está la posibilidad donde trates de persuadirlos para que te escaneen la información y así puedan enviártela en línea.</p>
    </dd>

    <dt id="delete_requests">¿Pueden borrar mis solicitudes o alterar mi nombre? </dt>
    <dd>
      <p>Publitopia es una plataforma pública y permanente que almacena solicitudes de información pública. Aunque a ti ya no te resulte útil la respuesta, puede que a otras personas si les sirva. Por este motivo no eliminamos las solicitudes.</p>
      <p>Aunque en circunstancias específicas, podemos eliminar o cambiar tu nombre. Si estás pasando por algo similar y tienes esta urgencia <a href="<%= help_contact_path %>">contáctanos</a>.  </p>
    </dd>

    <dt id="takedown">Si encuentro información personal sobre mi ¿Publitopia puede quitar esta información? </dt>
    <dd>
      <p>¡Claro que sí! Si encuentras información personal sobre ti publicada en Publitopia que quisieras que quitemos, escríbenos con toda la confianza a nuestra <a href="<%= help_contact_path %>">área de contacto</a>. </p>
      <p>Solo necesitaríamos que nos especifiques lo siguiente:</p>
      <ul>
        <li>¿Dónde aparece la información publicada?</li>
        <li>¿Cuál es el problema?</li>
        <li>¿Porque es un problema? </li>
      </ul>
    </dd>
  </dl>

  <p><strong>Ahora</strong>, lee la Información para las <a href="<%= help_officers_path %>">Municipalidades</a> --&gt;

    <div id="hash_link_padding"></div>
</div>