<% @title = _("Making requests") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> </h1>
  <dl>

    <dt id="what_info">¿Qué información puedo solicitar en <%= site_name %>? </dt>
    <dd>
        <p>Puedes solicitar documentos, archivos o todo tipo de información que manejen las Municipalidades y que no cuenten con restricciones. Conoce las restricciones que hay visitando nuestra área de "<a href="http://inforuta.munisabiertas.org">InfoRuta</a>".</p>
    </dd>
    
    <dt id="why_ask">¿Por qué debería solicitar información? </dt>
    <dd>
        <p>La información pública te incumbe como ciudadanos. Los funcionarios trabajan con tus impuestos, y toman decisiones que afectan tu vida, desde el cuidado de la salud hasta el ordenamiento territorial. </p>
        <p>Entre más sepas de cómo funciona la Muni, más y mejores sugerencias puedes hacer para mejorar las cosas en tu comunidad. </p>
    </dd>

    <dt id="focused">¿Cómo hacer una buena solicitud? </dt>
    <dd>
      <p>Antes que nada, debes saber bien qué deseas pedir. Luego entre más claro y corto hagas el mensaje, más fácil es que los funcionarios identifiquen que información es la que estas solicitando, lo que significa que tendrás una respuesta más rápida.</p>
    </dd>

    <dt id="fees">¿Hay que pagar por solicitar información? </dt>
    <dd>
      <p>¡No! Solicitar información es GRATIS.</p>
      <p>Aunque debes tomar en cuenta que si la pides impresa pueden cobrarte la impresión, aunque si la solicitas electrónica no tienen por qué cobrarte.</p>
    </dd>

    <dt id="quickly_response">¿Cuánto es el tiempo de respuesta? </dt>
    <dd>
      <p>Según la ley las instituciones tienen 10 días hábiles para contestarte.  Aunque pueden pedir una prórroga de 10 días más, por si no encuentran la información, que puede ser únicamente solicitada hasta el 8vo día de tu solicitud.</p>
      <p>Si te preocupa que se te pasen los tiempos ¡No te angusties! Para eso estamos.</p>
      <p>Una de las ventajas de <%= site_name %> es que nos encargamos de enviarte diferentes avisos para que estés pendiente de los tiempos, lo cuales son:</p>
      <ul>
        <li>Aviso 1: Después de 10 días de haber hecho tu solicitud, para que sepas que es el último día para que te den la información y puedas hablarle a la institución.</li>
        <li>Aviso 2: Después de 15 días, de que hiciste tu solicitud, por si seguiste el proceso y no te han contestado. Así puedes reclamar la información.</li>
        <li>Aviso 3: También te enviaremos un aviso cada vez que te respondan, para que puedas estar atento de la respuesta que te dieron.</li>
      </ul>
    </dd>

    <dt id="no_response">¿Qué pasa si no recibo una respuesta? </dt>
    <dd>
      <p>Si no recibes una respuesta, puedes llamar a la institución para saber que sucedió sino puedes ingresar al área de "<a href="http://inforuta.munisabiertas.org">InfoRuta</a>"  donde te explicamos los pasos que puedes seguir.</p>
    </dd>
    
    <dt id="denied">¿Cuáles son las causas por las que pueden denegarme la información que he solicitado? </dt>
    <dd>
        <p>Algunas de las causas pueden ser que:</p>
        <ul>
            <li>Que tu solicitud no sea clara.</li>
            <li>Que la información sea confidencial, es decir que esta sea personal y no tenga nada que ver con la función pública.</li>
            <li>Que la municipalidad no tenga la información.</li>
            <li>Que la información sea reservada, es decir que está limitada por un tiempo específico por seguridad.</li>
            <li>Que la municipalidad haya solicitado aclaraciones y tú no las hayas realizado.</li>
        </ul>
    </dd>

    <dt id="offsite">He realizado solicitudes por otros medios y  he conseguido respuesta, ¿puedo subirlas o compartirlas en este sitio? </dt>
    <dd>
        <p>Lamentamos decirte que no es posible. <%= site_name %> archiva únicamente solicitudes realizadas desde este sitio. Si deseas hacer pública una respuesta, tienes que volver a hacer la solicitud a través de <%= site_name %>. </p>
    </dd>

    <dt id="requests_comments">Nuestra política para solicitudes y comentarios </dt>
    <dd>
        <p>Estamos muy felices, y motivamos a todo el mundo a hacer su solicitud, poner comentarios o preguntas. </p>
        <p>Nuestro equipo estará pendiente de los contenidos que publiques, por lo que nos reservamos el derecho de eliminar los que sean poco apropiados, tengan un mensaje ofensivo o difamen en algún punto. </p>
        <p>Si esto te llega a suceder ten presente que igualmente nosotros te escribiremos para que no haya ningún mal entendido y podamos aclararlo. </p>
        <p>Del mismo modo, tú puedes denunciar contenidos inadecuados de la siguiente forma:</p>
        <ol>
            <li>Si es una solicitud debes ingresar a la pestaña <b>acciones</b>, que está en la parte inferior de la solicitud, y ahí debes seleccionar <b>denunciar</b>.<br/>En esta parte te solicitaremos información adicional sobre el problema que estas reportando. Y luego de llenar todos los campos, puedes enviar tu denuncia y la revisaremos lo más pronto posible.</li>
            <li>Si es un comentario debes seleccionar del lado derecho del comentario la opción <b>denunciar</b>. <br/>En esta parte también te solicitaremos información adicional sobre la denuncia. Y luego de llenar todos los campos, puedes enviarla y la revisaremos lo más pronto posible.</li>
        </ol>
        <p>Gracias por ayudarnos a que <%= site_name %> pueda ser un lugar donde nos respetemos y busquemos que las instituciones sea más transparentes.</p>
    </dd>
    
    
    <dt id="not_satifised">¿Qué pasa si no quedo satisfecho con la respuesta? </dt>
    <dd>
        <p>Si la respuesta que recibiste no es la que esperabas, puedes ingresar a </p>
        <ol>
            <li>Nuesetra área de <a href="<%= help_general_path(:action => 'unhappy') %>">No quede satisfecho con la respuesta que recibí</a>.</li>
            <li>Nuestra herramienta de Inforuta donde te explicamos el proceso de qué hacer en estos casos.</li>
    </dd>

    <dt id="reuse">¿Puedo re utilizar la información que reciba o encuentre en <%= site_name %>? </dt>
    <dd>
      <p>¡Claro! La información es pública y está para que la utilicemos de forma responsable. </p>
    </dd>

    <dt id="which_authority">¿Cómo puedo saber si la institución a la que pienso hacerle la solicitud de información pública es la correcta?  </dt>
    <dd>
      <p>Puede ser difícil identificar qué institución es la que posee la información que deseas, aunque te dejamos algunos consejos:</p>
      <ul>
        <li>Puedes contactar a la institución por teléfono para preguntarle si ellos son los que manejan la información que buscas.</li>
        <li>Si es a municipalidades, puedes buscar en <%= site_name %>, solicitudes similares. </li>
        <li>Puedes visitar la página web de las municipalidades y explorar si tocan esa temática en su página.</li>
      </ul>
    </dd>

    <dt id="missing_body"><%= site_name %> no tienen a la institución pública a la que quiero solicitar información pública </dt>
    <dd>
      <p>Por el momento <%= site_name %> solo tiene el contacto con municipalidades, por lo que si deseas hacerle una solicitud a otra institución tendrá que ser directamente con ellas. </p>
    </dd>

    <dt id="authorities">¿Por qué <%= site_name %> incluye algunas instituciones que no están sujetas a la ley de acceso a la información pública?  </dt>
    <dd>
      <p>Te comentamos que <%= site_name %> solo hace solicitudes a municipalidades, si deseas conocer sobre ese tipo de instituciones debes dirigirte directamente con ellas. </p>
    </dd>
    
    <dt id="ico_help">¿Pueden decirme más acerca del proceso cómo hacer solicitudes? </dt>
    <dd>
      <p>Para saber más sobre el proceso puedes ingresar a <a href="inforuta.munisabiertas.org">Inforuta</a>, donde te explicamos y te guiamos a través del proceso para hacer una solicitud de información pública.</p>
    </dd>

    <dt id="data_protection">¿Puedo hacer una solicitud sobre mí? </dt>
    <dd>
        <p>En <%= site_name %> creemos en la protección de datos personales, por lo que no puedes hacer una solicitud sobre ti, al ser información privada. Únicamente puedes hacer solicitudes bajo la Ley de Acceso a la Información Pública.</p>
        <p>Si deseas hacer este tipo de solicitudes debes comunicarte directamente con tu municipalidad. </p>
        <p>Igualmente si vez que alguien incluye en su solicitud información personal, <a href="<%= help_contact_path %>">contáctanos</a> y nosotros nos haremos cargo.</p>
    </dd>


    <dt id="private_requests">Quisiera mantener mi solicitud en secreto hasta que yo la quiera publicar </dt>
    <dd>
        <p>Te comentamos que en <%= site_name %> las solicitudes se publican inmediatamente al realizarlas. Por lo que no se puede mantener la solicitud en secreto.</p>
        <p>Si deseas mantener tu solicitud en secreto, deberías contactar a las instituciones directamente para hacer tu solicitud en privado.</p>
    </dd>

    <dt id="eir">¿Puedo solicitar información sobre medio ambiente? </dt>
    <dd>
      <p>Si la municipalidad está encargada de manejar esta información puedes solicitarla. De lo contrario debes buscar instituciones como el <a href="www.marn.gob.gt">Ministerio de Ambiente y Recursos Naturales</a> que son los encargados de manejar los temas ambientales.</p>
    </dd>

    <dt id="multiple">¿Puedo hacer la misma solicitud a varias municipalidades? </dt>
    <dd>
        <p>¡Si! Aunque te recomendamos que la hagas primero a una municipalidad, para que su respuesta te ayude a mejorar tu solicitud y obtengas de mejor la información que deseas. </p>
        <p>Y toma en cuenta que para hacerla a varias instituciones, en <%= site_name %> debes copiar y pegar el mensaje, ya que no contamos con un sistema automático para enviar solicitudes a varias municipalidades.</p>
    </dd>


    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation">¿Cómo manejan o regulan los comentarios? </dt>

      <dd>
        <p>Nos encanta que te expreses y ayudes a que <%= site_name %> sea un lugar ameno, donde puedas formar comunidad y te sientas en la libertad de dar sugerencias o ayudar a otros usuarios.</p>
        <p>Aunque en casos donde los comentarios contengan mensajes ofensivos o información personal se hará una revisión para ver si este es retirado o no. Recuerda que nos reservamos el derecho de eliminar cualquier comentario que vaya en contra de <a hfer="/help/requesting#requests_comments">nuestras políticas.</a></p>
      </dd>
    <% end %>

  </dl>

  <p><strong>Ahora</strong>, lee sobre <a href="<%= help_privacy_path %>">Privacidad</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
